<router-outlet></router-outlet>

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->

<div class="container">
    <section class="full-container">
        <!-- <section class="top-heading">
            <h1>Onboarding</h1>
            <p>Please fill the form below to receive a quote for your project. </p>
        </section> -->
        <section class="left-aside">
            <div class="left-menu-col">
                <div class="heading">
                    <h2>Onboarding</h2>
                    <p>Please fill the form below to receive a quote for your project.</p>
                </div>
                <ul>
                    <li class="active"><div class="no">1</div><a href="/onboarding">Organization Information <span>Step Description</span></a></li>
                    <li class="active"><div class="no">2</div><a href="/onboarding/site-logo">Site Logo Settings <span>Step Description</span></a></li>
                    <li class="active"><div class="no">3</div><a href="/onboarding/smtp">SMTP Settings <span>Step Description</span></a></li>
                    <li class="active"><div class="no">4</div><a href="/onboarding/billing-settings">Billing Settings <span>Step Description</span></a></li>
                    <li class="active"><div class="no">5</div><a href="/onboarding/aggregator">Aggregator Details <span>Step Description</span></a></li>
                    <li class="active"><div class="no">6</div><a href="/onboarding/payer-info">Payor Information <span>Step Description</span></a></li>
                    <li class="active"><div class="no">7</div><a href="/onboarding/task-activities">Task activities <span>Step Description</span></a></li>
                    <!-- <li><div class="no">8</div><a href="/onboarding/services">Services <span>Step Description</span></a></li> -->
                </ul>
            </div>

            <div class="content-section">
                <form [formGroup]="firstFormGroup">
                    <h2>Task Activities <br><small>Lorem ipsum dolor sit amet consectetur adipisc.</small></h2>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Task Detail</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Task Detail</mat-label>
                                <input matInput placeholder="officemail.myeazycare.com" formControlName="firstCtrl" required>
                                <!-- <mat-icon matSuffix>person_outline</mat-icon> -->
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>Category</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>Task Type</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Visit Type</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>Service</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>Service Code</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Service Code</mat-label>
                                <input matInput placeholder="Select" formControlName="firstCtrl" required>
                                <!-- <mat-icon matSuffix>person_outline</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Is Default?</label>
                            <mat-slide-toggle>Slide</mat-slide-toggle>
                        </div>
                        <div class="form-field half-width">
                            <label>Is Required?</label>
                            <mat-slide-toggle>Slide</mat-slide-toggle>
                        </div>
                        <div class="form-field half-width">
                            <label>Minimum Time Required</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Minimum Time Required</mat-label>
                                <input matInput placeholder="Select" formControlName="firstCtrl" required>
                                <!-- <mat-icon matSuffix>person_outline</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="button-col right-align">
                        <button mat-flat-button color="primary">Next Step</button>
                    </div>
                </form>
            </div>

        </section>
        <aside class="right-aside">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus, ante eu ultricies feugiat, metus tortor lacinia lacus, nec tincidunt nisl ante nec massa. Integer vitae consectetur nisi. Maecenas pretium, eros ac dictum venenatis, tortor nibh maximus nunc, sit amet lobortis diam ex lobortis orci. Mauris porta dolor nec massa mattis laoreet. Nam posuere augue metus, malesuada scelerisque erat tincidunt non. Donec auctor tempor nisi vel vehicula. Aenean ullamcorper, sem vitae faucibus molestie, augue erat dapibus magna, sed faucibus dui nunc sed leo.</p>
        </aside>
    </section>
</div>
