<router-outlet></router-outlet>

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->

<div class="container">
    <section class="full-container">
        <!-- <section class="top-heading">
            <h1>Onboarding</h1>
            <p>Please fill the form below to receive a quote for your project. </p>
        </section> -->
        <section class="left-aside">
            <div class="left-menu-col">
                <div class="heading">
                    <h2>Onboarding</h2>
                    <p>Please fill the form below to receive a quote for your project.</p>
                </div>
                <ul>
                    <li class="active"><div class="no">1</div><a href="/onboarding">Organization Information <span>Step Description</span></a></li>
                    <li class="active"><div class="no">2</div><a href="/onboarding/site-logo">Site Logo Settings <span>Step Description</span></a></li>
                    <li class="active"><div class="no">3</div><a href="/onboarding/smtp">SMTP Settings <span>Step Description</span></a></li>
                    <li class="active"><div class="no">4</div><a href="/onboarding/billing-settings">Billing Settings <span>Step Description</span></a></li>
                    <li><div class="no">5</div><a href="/onboarding/aggregator">Aggregator Details <span>Step Description</span></a></li>
                    <li><div class="no">6</div><a href="/onboarding/payer-info">Payor Information <span>Step Description</span></a></li>
                    <li><div class="no">7</div><a href="/onboarding/task-activities">Task activities <span>Step Description</span></a></li>
                    <!-- <li><div class="no">8</div><a href="/onboarding/services">Services <span>Step Description</span></a></li> -->
                </ul>
            </div>

            <div class="content-section">
                <form [formGroup]="firstFormGroup">
                    <h2>Billing Settings <br><small>Lorem ipsum dolor sit amet consectetur adipisc.</small></h2>
                    <h3>Submitter Details</h3>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Company Name</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Company Name</mat-label>
                                <input matInput placeholder="officemail.myeazycare.com" formControlName="firstCtrl" required>
                                <mat-icon matSuffix>person_outline</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>NPI Number</label>
                            <mat-form-field appearance="fill">
                                <mat-label>NPI Number</mat-label>
                                <input matInput placeholder="587" formControlName="firstCtrl" required>
                                <mat-icon matSuffix>mail_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Contact Name</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Contact Name</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>Phone</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Email</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <h3>Billing Provider Details</h3>
                    <div class="form-row">
                        <div class="form-field half-width">
                            <label>Billing Provider Name </label>
                            <mat-form-field appearance="fill">
                                <mat-label>Billing Provider Name</mat-label>
                                <input matInput placeholder="Billing Provider Name" formControlName="firstCtrl" required>
                            </mat-form-field>
                        </div>
                        <div class="form-field half-width">
                            <label>NPI Number</label>
                            <mat-form-field appearance="fill">
                                <mat-label>NPI Number</mat-label>
                                <input matInput placeholder="NPI Number" formControlName="firstCtrl" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="button-col right-align">
                        <button mat-flat-button color="primary">Next Step</button>
                    </div>
                </form>
            </div>

            <mat-stepper style="display: none;" orientation="vertical" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Site Logo Settings <br><small>Step Description</small></ng-template>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Site Logo Settings <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="secondCtrl" required>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>SMTP Settings <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="thirdCtrl" required>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup">
                    <form [formGroup]="fourthFormGroup">
                        <ng-template matStepLabel>Billing Settings <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="fourthCtrl" required>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="fifthFormGroup">
                    <form [formGroup]="fifthFormGroup">
                        <ng-template matStepLabel>Aggregator Details <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="fifthCtrl" required>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="sixthFormGroup">
                    <form [formGroup]="sixthFormGroup">
                        <ng-template matStepLabel>Payor Information <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="sixthCtrl" required>
                        </mat-form-field>
                       
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="seventhFormGroup">
                    <form [formGroup]="seventhFormGroup">
                        <ng-template matStepLabel>Task activities <br><small>Step Description</small></ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="seventhCtrl" required>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Services <br><small>Step Description</small></ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
                
            </mat-stepper>
        </section>
        <aside class="right-aside">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus, ante eu ultricies feugiat, metus tortor lacinia lacus, nec tincidunt nisl ante nec massa. Integer vitae consectetur nisi. Maecenas pretium, eros ac dictum venenatis, tortor nibh maximus nunc, sit amet lobortis diam ex lobortis orci. Mauris porta dolor nec massa mattis laoreet. Nam posuere augue metus, malesuada scelerisque erat tincidunt non. Donec auctor tempor nisi vel vehicula. Aenean ullamcorper, sem vitae faucibus molestie, augue erat dapibus magna, sed faucibus dui nunc sed leo.</p>
        </aside>
    </section>
</div>
