<div>
  <section class="left-aside">
    <mat-stepper orientation="vertical" #stepper>
      <mat-step>
        <form [formGroup]="organizationForm">
          <ng-template matStepLabel
            >Organization Information <br /><small
              >Lorem ipsum dolor sit amet consectetur adipisc.</small
            ></ng-template
          >
          <mat-form-field appearance="fill">
            <mat-label>Organization Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="organizationName"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Support Email</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="supportEmail"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="address"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="city"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="state"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Zip Code</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="zipCode"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Time Zone</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="timeZone"
              required
            />
          </mat-form-field>
          <div class="button-col right-align">
            <button mat-flat-button color="primary" matStepperNext (click)="next()">Next Step</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </section>
</div>
