/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
*{
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul {
    list-style: none;
    padding: 0px;
}
.container {
    padding: 30px;
    display: flex;
    width: 100%;
    // height: 100%;
    justify-content: center;
}
.right-align {
    text-align: right;
}

.mb-30{
    margin-bottom: 30px;
}

header{
    background-color: #5243C2;
    height: 60px;
}
.full-container {
    display: flex;
    width: 100%;
    max-width: 75rem;
}
section.left-aside {
    width: 100%;
    display: flex;

    .left-menu-col{
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #EFF0F7;
        box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
        border-radius: 34px;
        max-width: 322px;
        padding: 30px;

        ul{
            li{
                display: flex;
                align-items: center;
                margin-bottom: .625rem;
                padding-bottom: 50px;
                position: relative;

                &.active{
                    .no{
                        background-color: #738DED;
                    }

                    &::before {
                        border: 1px solid #738DED;
                    }
                }

                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    text-decoration: none;

                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        color: #848199;
                        margin-top: 3px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    border: 1px solid #d6d6d6;
                    left: 16px;
                    top: 20px;
                    z-index: 1;
                }

                &:last-child {
                    padding-bottom: 0px;

                    &::before{
                        content: none;
                    }
                }
            }
        }
    }
}
.no {
    width: 35px;
    min-width: 35px;
    height: 35px;
    background: #D4D4D4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 6px;
    position: relative;
    z-index: 1;
}

.heading{
    h2 {
        color: #170F49;
        font-weight: 700;
        font-size: 34px;
        margin: 0px;
        padding-top:10px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        color: #6F6C90;
        padding: 10px 0px 30px;
        line-height: 26px;
    }
}

.content-section {
    padding: 0px 50px;
    width: 100%;
}
aside.right-aside {
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 34px;
    max-width: 302px;
    padding: 30px;
}
@media screen and (min-width:1024px){
    aside.right-aside {
        // min-width: 302px;
    }
    .left-menu-col{
        // min-width: 322px;
    }
}
.form-row {
    margin: 0px -15px;
    display: flex;
}
.form-field {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
}
.half-width {
    width: 50%;
}
.full-width {
    width: 100%;
}
.one-third-width {
    width: 33.333%;
}

.content-section{
    h2{
        font-size: 1.5rem;
        color: #170F49;
        padding-top: 20px;
        padding-bottom: 15px;
        small{
                font-size: 1.125rem;
                font-weight: 400;
                color: #6F6C90;
        }
    }
}














